<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="ie-edge"/>
  {{!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab|Roboto:300,400,500,700" /> --}}
  <title>Pettah Pharma</title>
</head>

<body>
    <h2>Pettah Pharmacy Private Limited</h2>
    <img src='/public/static/logo.png'/>
    
    <h3>Your Password is : blabla</h3>
</body>
  
  
  

</html>
